{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
{% include "widgets/header.html" with title='CSS3' %}

<div class="container">
    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col-md-10 card mb-4 mt-3">
                <div class="card-body">
                    <h2>Что такое стиль?</h1>
                        <p>Определение стиля в CSS, устанавливающего внешний вид какого-либо элемента (фрагмента)
                            веб-страницы, — это всего лишь правило, которое сообщает браузеру, что и каким образом
                            форматировать: изменить цвет шрифта заголовка на синий, выделить фото красной рамкой,
                            создать меню шириной 150 пикселов для списка гиперссылок. Фактически определение стиля
                            состоит из двух основных элементов: это сам элемент веб-страницы, который непосредственно
                            подлежит форматированию браузером, — селектор, а также форматирующие команды — блок
                            объявления. Селекторами могут быть заголовок, абзац текста, изображение и т. д. Блоки
                            объявления могут, например, окрасить текст в синий цвет, добавить красную рамку (границу)
                            вокруг абзаца, установить фотографию в центре страницы — возможности форматирования
                            бесконечны. Разумеется, CSS-стили не могут быть написаны на обычном языке, как, например,
                            предыдущий абзац. У них есть свой собственный язык.</p>
                        <hr>
                        <h2>CSS3</h2>
                        <p>CSS – это формальный язык, служащий для описания оформления внешнего вида документа,
                            созданного с использованием языка разметки. CSS3 - это новый стандарт оформления HTML
                            документов значительно расширяющий возможности предыдущего стандарта CSS2.1.</p>
                        <h4>В CSS3 Вы можете:</h4>
                        <ul>
                            <li>Создавать элементы со сглаженными углами;</li>
                            <li>Создавать линейные и сферические градиенты;</li>
                            <li>Более гибко оформлять фоновую картинку элементов;</li>
                            <li>Добавлять к элементам и к тексту элементов тени;</li>
                            <li>Использовать небезопасные шрифты (не боясь при этом, что они будут не поддерживаться
                                браузером пользователя);
                            </li>
                            <li>Задавать цвета несколькими новыми способами и многое другое.</li>
                        </ul>
                        <hr>
                        <h2 class="pb-3">Поддержка CSS3 в старых браузерах</h2>

                        <h4 class="pb-2">Доля использования старых браузеров полностью или частично не поддерживающих CSS3 уже не так
                            велика (данные StatCounter для России на Октябрь 2013):</h4>

                        <ul>
                            <li>Internet Explorer 9 (частично не поддерживает CSS3 свойства): 3%</li>
                            <li>Internet Explorer 8 (не поддерживает CSS3 свойства): 4.5%</li>
                            <li>Однако мы все же рекомендуем дополнительно анализировать количество пользователей
                                использующих старые браузеры для каждого сайта индивидуально (например с помощью Google
                                Analytics) и если это количество еще велико воздержатся от использования свойств,
                                которые могут привести к проблемам отображения сайта в старых браузерах.
                            </li>
                        </ul>

                        <p>Для эмуляции поведения новых свойств CSS3 в браузерах Internet Explorer 6-9 Вы можете
                            использовать специальную библиотеку css3pie.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}